<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Edit Your Data</h3>
    <form action="/listings/<%= listing._id%>?_method=PUT" method="post">
        <input type="text" value="<%= listing.title %>" name="listing[title]"> <br><br>
        <textarea name="listing[description]" ><%= listing.description %></textarea> <br><br>
     
        <input name="listing[price]" type="number" value="<%= listing.price %>"> <br><br>
        <input name="listing[location]" type="text" value="<%= listing.location %>"> <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>"> <br><br>
        <button type="submit">Edit</button> <br>
    </form>
</body>
</html>