<%- layout("/layouts/boilerplate.ejs") %>
<body>

    <!-- <form action="listings/new" method="get">
        <button>Add new</button><br><br>
    </form> -->
    
    <h3 class="all-listings-h3">All listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
   <%  for(let listing of listings){  %>
    
    <div class="card listing-card" style="width: 20rem;">
        <a href="listings/<%=listing._id%>" class="listing-link">
            <img 
            src="<%=listing.image.url %>" 
            class="card-img-top" 
            alt="" 
            style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"><b><%= listing.title %></b> <br> 
                &#8377; <%= listing.price.toLocaleString("en-IN")%> /night</p></a>
        </div>
      </div>
    
        <!-- <hr> -->
   <%  }  %>
   </div>
</body>